.navbar #img_logo{
  width: 25px;
  height: 25px;
}

.navbar #text_logo{
  font-weight: bolder;
  font-size: 18px;
}

.navbar{
  background-color: purple;
  height: 40px;
  width: auto;
  margin: 0px 0px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
